
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

    

*{
    box-sizing: border-box;
}
.container{
    width: auto;
    margin: 0 50px;
    

}
.pad-70
{
    padding: 70px 0;
}
.text-center{
    text-align: center;
    
}


.header{
    padding: 40px 0 40px;
    
}
.header-wrapper{
    overflow: auto;
   
    
}
.logo{
    float: left;
    max-width: 250px;
    width: 50%;
    
    
    
}
.logo img{
    max-width: 100%;
    display: inline-block;
    padding-top: 38px;
    
}
.nav{
    float: right;
    width: auto;

    
}
.nav-menu{
    
    list-style-type: none;
    
}
.nav-menu li{

    
    padding: 20px;
    display: inline-block;

}

.nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}

.el{
    
    width: 1920;
    height: 120;
    background-color: #f7f7f7;
    
}

.parent{
    position: relative;
    width: fit-content;
    
    
}

.over-img{
    width: 500px;
    position: absolute;
        top: 700px;
        left: 40px;
        z-index: 2;
}
.header{
    text-align: center;
    font-size: 51.42px;
    color: #fb3255;
    font-weight: 900;
}
.post
{
   
}
.post img{
    width: 100%;
    border: ;
    
}
.row
{
    overflow: auto;

}
.post-left
{
   float: left; 
   width: 45%;
  
}
.post-right{
    float: right;
    margin: auto;
    width: 40%;
}
.post1{
    width: auto;
}